/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e8f1f6,
    100 : #c5dce9,
    200 : #9fc5da,
    300 : #79aecb,
    400 : #5c9cc0,
    500 : #3f8bb5,
    600 : #3983ae,
    700 : #3178a5,
    800 : #296e9d,
    900 : #1b5b8d,
    A100 : #c6e4ff,
    A200 : #93ccff,
    A400 : #60b4ff,
    A700 : #47a8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e6f1ea,
    100 : #c2dbca,
    200 : #99c3a7,
    300 : #70ab84,
    400 : #519969,
    500 : #32874f,
    600 : #2d7f48,
    700 : #26743f,
    800 : #1f6a36,
    900 : #135726,
    A100 : #90ffab,
    A200 : #5dff85,
    A400 : #2aff5e,
    A700 : #11ff4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

