$my-red: #e33124;

.actual-files-information {
    margin: 0px 15px;
}
.description {
    width: 90%; 
    background-color: #f8f9fa;
    padding: 25px;
    margin: 5px;
}
.link-row {
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: table;
}
.delete-icon-container {
    cursor: pointer;
    display: table-cell;
    width: 30px;
    .mat-icon{
        transition: color .5s ease-in;
        border-radius: 5px;
    }
    .mat-icon:hover{
        color: $my-red !important;
    }
    // .mat-icon{
    //     transition: background-color 1s ease-in, color 1s ease-in;
    //     border-radius: 5px;
    // }
    // .mat-icon:hover{
    //     background-color: #e33124 !important;
    //     color: #694a48 !important;
    // }
}
.file-info-line-container{
    display: table-cell;
    vertical-align: middle;
}
.upload-button {
    margin-left: 5px;
}
.link-container {
    padding: 5px;
    margin: 5px;
}
.file-info-line-container {
    .file-error {
        color: $my-red;
        font-weight: 800;
    }
    .file-link{
        cursor: pointer;
    }
    .file-in-progress {
        color: blue;
    }
}
.file-name{
    color: green;
}
.file-link:hover{
    text-decoration: underline;
}
.error-text {
    margin-left: 2px;
    color: $my-red;
}
.file-size{
    margin-left: 2px;
    font-weight: bolder;
}
.progress-bar-container {
    margin-left: -100px;
    display: table-cell;
    vertical-align: middle;
    .progress-bar{
        width: 150px;
    }
}
.dragndrop{
    border-radius: 5px;
    margin-left: 5px;
    padding: 10px;
    width: 90%;
}
